/* background-color: #ff9601; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,500;1,700&display=swap");

body {
  display: block;
  margin: 0;
  padding: 0;
  background: #000000;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
  font-family: "Ubuntu";
}
header {
  position: relative;
  height: 700px;
  width: 100vw;
}
/* small logo styling */
.logo img {
  position: absolute;
  width: 100px;
  height: 100px;
}

/* Big logo styling */

.movingZone {
  position: absolute;
  right: 60px;
  top: 100px;
  transform: rotate(-20deg);
  z-index: -11;
}

/* navbar styling */

.nav-bar {
  position: absolute;
  right: 0;
  display: flex;
}

/* starting Paragraph Animation */

#startingAni .paraAni {
  position: absolute;
  top: 200px;
  left: 200px;
  margin-right: 10px;
}

.startParaAni span {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 50px;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  position: absolute;
  cursor: default;
}

.startParaAni span.animation:hover {
  color: #ff9601;
  animation-name: rubberband;
}

@keyframes rubberband {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.secondLine {
  position: absolute;
  top: 60px;
}
.thirdLine {
  position: absolute;
  top: 120px;
}

span.static {
  color: #ff9601;
}

/* Mouse styling */

.mouse {
  position: absolute;
  margin-top: 500px;
  margin-left: calc(50% - 15px);
}

.mouseBorder {
  position: absolute;
  width: 30px;
  height: 50px;
  border: 2px solid #ff9601;
  border-radius: 10px;
}

.mouseScroll {
  position: absolute;
  width: 2px;
  height: 6px;
  background-color: #ff9601;
  top: 10px;
  left: 16px;
}

#scrollDown {
  opacity: 0.8;
  transition: 0.3s opacity;
}

#scrollDown p {
  position: absolute;
  color: #ff9601;
  margin-top: 565px;
  margin-left: calc(50% - 40px);
}

#scrollDown:hover {
  opacity: 1;
  cursor: default;
}
